<mat-toolbar class="header-with-baseline">
    <div>
        <h1>Project Roadmap</h1>
        <mat-button-toggle-group [value]="selectedViewType">
            <mat-button-toggle color="primary" *ngFor="let view of views" [value]="view.value" (click)="selectView(view.value)">
                {{ view.name }}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-flat-button color="primary" (click)="refresh()">Refresh</button>
        <button mat-flat-button color="primary" (click)="scrollToToday()">Scroll to today</button>
        <button mat-flat-button color="primary" (click)="print('gantt-example')">Print</button>
        <mat-slide-toggle class="baseline-switch" [checked]="isBaselineChecked" (change)="switchChange()">Baseline</mat-slide-toggle>
    </div>
    <div>
        <a href="https://github.com/shinkhouse/project-roadmap" target="_blank">
            <mat-icon svgIcon="github"></mat-icon>
        </a>
    </div>
</mat-toolbar>
<ngx-gantt
    #gantt
    [items]="items"
    [baselineItems]="baselineItems"
    [viewType]="viewType"
    [draggable]="true"
    [linkable]="true"
    [selectable]="true"
    [multiple]="true"
    [viewOptions]="viewOptions"
    [showToolbar]="isShowToolbarChecked"
    [toolbarOptions]="toolbarOptions"
    [loading]="loading"
    [virtualScrollEnabled]="false"
    (barClick)="barClick($event)"
    (viewChange)="viewChange($event)"
    (lineClick)="lineClick($event)"
    (dragMoved)="dragMoved($event)"
    (dragEnded)="dragEnded($event)"
    (selectedChange)="selectedChange($event)"
    (linkDragEnded)="linkDragEnded($event)"
>
    <ngx-gantt-table
        [draggable]="true"
        [dropEnterPredicate]="dropEnterPredicate"
        (dragDropped)="onDragDropped($event)"
        (dragStarted)="onDragStarted($event)"
        (dragEnded)="onDragEnded($event)"
    >
        <ngx-gantt-column name="Title" width="160px" [showExpandIcon]="true">
            <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="Start Time" width="200px">
            <ng-template #cell let-item="item">
                {{ item.start * 1000 | date : "yyyy-MM-dd HH:mm" }}
            </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="End Time" width="200px">
            <ng-template #cell let-item="item">
                {{ item.end * 1000 | date : "yyyy-MM-dd HH:mm" }}
            </ng-template>
        </ngx-gantt-column>
    </ngx-gantt-table>

    <ng-template #bar let-item="item">
        <span style="color: #fff">&nbsp;&nbsp;{{ item.title }} </span>
    </ng-template>
</ngx-gantt>
