@use '@worktile/gantt/styles/index.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 16px !important;
}
.gantt-bar .gantt-bar-content {
    // background: var(--mdc-filled-button-container-color) !important;
}